<h1><%= @article.title %> </h1>
<p><%= @article.body %></p> 
<br>

<div align = "right">
<table style = "width: 10%"><td> </td></tr>
	<tr>
		<td><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></td>
		<td><%= link_to "Edit", edit_article_path(@article) %></td>
	</tr>
</table>
</div>

<br>
<h2>Comments (<%= @article.comments.count %>)</h2> <!-- shows the comment count -->
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "Back to Articles List", articles_path %>




